<config>
  <Display>
    <WinWidth>854</WinWidth>
    <WinHight>480</WinHight>
    <FrameRateLimit>500</FrameRateLimit>
    <BackgroundLimit>15</BackgroundLimit>
  </Display>
  <Bindings>
    <Action>AltForwardBind</Action>
    <Key>Up</Key>
  </Bindings>
  <Bindings>
    <Action>AltBackBind</Action>
    <Key>Down</Key>
  </Bindings>
  <Bindings>
    <Action>DownBind</Action>
    <Key>LCTRL</Key>
  </Bindings>
  <Bindings>
    <Action>LeftBind</Action>
    <Key>a</Key>
  </Bindings>
  <Bindings>
    <Action>ForwardBind</Action>
    <Key>w</Key>
  </Bindings>
  <Bindings>
    <Action>AltLeftBind</Action>
    <Key>Left</Key>
  </Bindings>
  <Bindings>
    <Action>AltRightBind</Action>
    <Key>Right</Key>
  </Bindings>
  <Bindings>
    <Action>UpBind</Action>
    <Key>Space</Key>
  </Bindings>
  <Bindings>
    <Action>RightBind</Action>
    <Key>d</Key>
  </Bindings>
  <Bindings>
    <Action>BackBind</Action>
    <Key>s</Key>
  </Bindings>
  <Debug>
    <FragPath>./shaders/quadtexture.frag.glsl</FragPath>
    <VertPath>./shaders/main.vert.glsl</VertPath>
  </Debug>
</config>